<footer class="footer__container">
    <div class="footer__content">
        <div class="footer__col">
            <a class="footer__image" href="/"><img class="footer__image" src="/images/logo.png" alt="Songbar лого"></a>
            <div class="footer__links">
                <a class="footer__link">Создать обращение</a>
                <a class="footer__link">Пользовательское соглашение</a>
                <a class="footer__link">Политика конфиденциальности</a>
            </div>
        </div>
        <div class="footer__col">
            <div class="footer__support">
                <span class="footer__link">Поддержка</span>
                <a href="info@songbar.ru" class="footer__link">info@songbar.ru</a>
                <a href="t.me/helpsongbar" class="footer__link">Telegram: @helpsongbar</a>
            </div>
        </div>
        <div class="footer__copy">
            ©2024 SONGBAR - онлайн каталог песен для караоке-бара
        </div>
    </div>
</footer>